@mixin padding($top: null, $right: null, $bottom: null, $left: null) {
    @if($top and $right and $bottom == null) {
        padding: ($top * $space) ($right * $space);
    } @else {
        @if($top) {
            padding-top: ($top * $space);
        }
        @if($right) {
            padding-right: ($right * $space);
        }
        @if($bottom) {
            padding-bottom: ($bottom * $space);
        }
        @if($left) {
            padding-left: ($left * $space);
        }
    }
}

@mixin paddingTop($padding) {
    @include padding($padding, null, null, null);
}

@mixin paddingRight($padding) {
    @include padding(null, $padding, null, null);
}

@mixin paddingBottom($padding) {
    @include padding(null, null, $padding, null);
}

@mixin paddingLeft($padding) {
    @include padding(null, null, null, $padding);
}
